/* Cabecalho */

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3.3rem;
}

@media screen and (min-width: 720px) {
  .menu {
    column-gap: 7.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    column-gap: 9.5rem;
  }

  .menu__item:nth-child(1) {
    order: 1;
  }

  .menu__pesquisar {
    order: 2;
  }

  .menu__item:nth-child(2),
  .menu__item:nth-child(3),
  .menu__item:nth-child(4) {
    order: 3;
  }
}

/* Categorias */

.categorias__lista {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

@media screen and (min-width: 720px) {
  .categorias__lista {
    flex-wrap: wrap;
    column-gap: 2.4rem;
    row-gap: 1.6rem;
  }
}

/* Destaques */

.destaques {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.destaques__barra {
  flex-grow: 1;
}

.destaques__barra + div {
  white-space: nowrap;
}

/* Eventos e Agenda */
.eventos__lista,
.agenda__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.6rem;
}

.eventos__item,
.agenda__item {
  flex-grow: 1;
  max-width: 40rem;
}

@media screen and (min-width: 720px) {
  .eventos__lista,
  .agenda__lista {
    gap: 2.4rem;
    justify-content: end;
  }
}

/* Rodapé */

.rodape {
  display: flex;
  column-gap: 1.6rem;
  row-gap: 2.4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rodape__logo {
  align-self: flex-end;
}
